@import "normalize.css";
@import "global.css";
@import "header.css";
@import "main/banner.css";
@import "main/advertisement.css";
@import "main/halls.css";
@import "main/booking.css";
@import "main/about.css";
@import "main/review.css";
@import "main/faq.css";
@import "main/contacts.css";
@import "footer.css";

@font-face {
  font-family: "Arial";
  src: local("Arial"),
  url("../fonts/ArialMT.woff2") format("woff2"),
  url("../fonts/ArialMT.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Bold"), local("Arial-Bold"),
  url("../fonts/Arial-BoldMT.woff2") format("woff2"),
  url("../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: local("Arial Black"), local("Arial-Black"),
  url("../fonts/arial_black.woff2") format("woff2"),
  url("../fonts/arial_black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
